.glassesimg {
width: 100%;    
padding: 1rem;
transition: transform 750ms;
  will-change: transform;  
}

.glassesimg :hover{
    width: 160%;
}

.glass{
    text-align: center;
    text-decoration: none;
    font-weight: 500;
}

.glass :hover{
  text-shadow: 0 0 .2rem rgb(255, 255, 255),
  0 0 .2rem rgb(255, 255, 255),
  0 0 2rem #ff01ff93,
  0 0 0.8rem #ee04fa,
  0 0 1.8rem #fb06f7d1;
  color: rgb(255, 255, 255)
}

@media (prefers-reduced-motion: reduce) {
    .glass {
      transition: none;
    }
  }

.cardsGlass {
    padding: 2rem;
    margin: .5rem .5rem .5rem .5rem;
    border: transparent;
    box-shadow: 0 0 5px #35353500, 0 0 15px #35353518;
    display: block;
    flex-basis: 400px;
    float: none;
    box-sizing: border-box;
    flex-grow: 430px;
    transition: transform 750ms;
  will-change: transform;  
}

.title{

  box-sizing: border-box;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  text-justify: auto;
  margin-left: 10rem;
  margin-top: -2rem;
  text-transform: uppercase;
  transition: font-size .4s ease-in-out;
  background-color: transparent;
  text-decoration: none;
}

.price{
    color: #000;
font-size: 1rem;
font-family: proxima-nova,sans-serif;
font-weight: 400;
letter-spacing: .3px;
line-height: 1.2;
margin: .25rem 0 1.25rem;
background-color: transparent;
}
