.detailContainer {
    
    align-items: center;
   

}

@media screen and (min-width:768px) {
    .detailContainer{
        width: 70%;
    }
}

.detail {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
    display: flex;

}

.detail_image {
    width: 100%;
}

@media screen and (min-width:768px) {
    .detail_image {
        width: 50%;
    }
}

@media screen and (max-height:400px) {
    .detail_image {
        height: 50%;
    }
}

.content {
    padding-left: 3 rem;
    width: 50%;
    color: rgb(3, 218, 168);
    font-size: 20px;
    font-weight: bold;
  
}

.cardsglass {
    font-family: futura-pt,sans-serif;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    background-color: transparent;
    text-decoration: none;
    line-height: 1.875rem;
    color: black;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .cardsglass img {
    border-bottom: 3px solid #353535;
  }

  .toaster{
    background-color: #353535;
    color:antiquewhite;
    font-size: 20px;
  }
  