.counter{
  width: 40px;
  padding: 1% 1%;	
  display: flex;
  justify-content: space-between;
  align-items: center;

 }
.btnPlus, .btnMinus{
  display: block;
  background: #fcfcfc;
	border: none;
  border-radius: 100px;
	font-size: 20px;
	font-weight: 250;
	height: 50%;
	padding: 50%;	
  line-height: 50%;
 
 }

 .btnPlus:hover, .btnMinus:hover {
	color: rgb(12, 12, 12);
  border: 2px solid #e9fcfa;
  box-shadow: 0 0 .2rem rgb(255, 255, 255),
0 0 .2rem rgb(255, 255, 255),
0 0 1.8rem #13fefe8a,
0 0 0.8rem #13fafe71,
0 0 2rem #13f6fe78,
inset 0 0 1.3rem #13fee687;
	cursor: pointer;
}

 .count{
  font-size: 19px;
	line-height: 50px;
	width: 70px;
  margin-right: 25px;
  margin-left: 25px;
	text-align: center;

  }


 .btnAdd{
    min-width: 130px;
    font-size: 15px;
    font-weight: 100;
    height: 40px;
    border-radius: 7px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border: 2px solid #212529;
    background: #212529;
    margin-left: 10px;
    display: inline-block;
 
  }

  .btnAdd:hover {
    background: rgb(255, 255, 255);
    border: 2px solid #e6fdfa;
    box-shadow: 0 0 .2rem rgb(255, 255, 255),
    0 0 .2rem rgb(255, 255, 255),
    0 0 2rem #13fefeb1,
    0 0 0.8rem #13fafe86,
    0 0 1.8rem #13f6fe78,
    inset 0 0 1.3rem #13fee687;   
    color: rgba(7, 7, 7, 0.657)
  }
 

 body {
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}