.detailContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 3rem 1rem;
    margin: 0 auto;
    padding: 5rem 2rem;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    position: fixed;
    box-sizing: border-box;
    background-color: antiquewhite;
    box-shadow: 0 5px 10px #242424;

}

@media screen and (min-width:768px) {
    .detailContainer{
        width: 70%;
    }
}

.detail {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
    display: flex;

}

.detail_image {
    width: 100%;
}

@media screen and (min-width:768px) {
    .detail_image {
        width: 50%;
    }
}

@media screen and (max-height:400px) {
    .detail_image {
        height: 50%;
    }
}

.content {
    padding-left: 3 rem;
    width: 50%;
}