.cart_badge{
position: absolute;
top: 1.5rem;
right: 4rem;
width: 2.3rem;
border-radius: 50%;
box-shadow: 0 0 .2rem rgb(255, 255, 255),
0 0 .2rem rgb(255, 255, 255),
0 0 2rem #13fefeb1,
0 0 0.8rem #13fafe86,
0 0 2.8rem #13f6fe78,
inset 0 0 1.3rem #13fee687;
display: flex;
align-items: center;
justify-content: center;
padding: 0.1rem;
color: rgb(235, 225, 225);
font-size: 1.5rem;
font-weight: 700;
}

.navbar{
    top: 0;
    display:flex;
    margin-bottom: 10px;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #000000;
    padding: 1rem 4rem;
    margin: 0 auto;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.047);
    z-index: 12;
    position: fixed;
    text-decoration: none;
    box-shadow: 0 0 3rem #00000096;
}

.logo{
    padding-top: 1rem;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 400;
    font-family: furura-pt, sans-serif;
    text-decoration: none;
    margin-top: -0.7rem;
    margin-bottom: 0.7rem;
    
}

.me-auto{
    justify-items: center;
    align-items: flex-end;
    margin-left: 1rem;
    padding-top: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-family: furura-pt, sans-serif;
    font-size: 14px;
    justify-content: center;
    right: 25rem;
    padding: 8px;
    display: flex;
    align-items: center;
}

.me-auto :hover{
    color: #ffffff;
    text-shadow:
    0 0 7px #df13fe,
    0 0 10px rgba(242, 88, 237, 0.809),
    0 0 21px rgba(247, 102, 250, 0.934),
    0 0 42px #bc13fe,
    0 0 82px #bc13fe,
    0 0 92px #df13fe,
    0 0 102px #bc13fe,
    0 0 151px #bc13fe;
}